<div class="d-flex justify-content-center align-items-center">
    <div class="w-50 mt-5">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="row jumbotron box8">
                <div class="col-sm-12 mx-t3 mb-4 pt-5">
                    <h2 class="text-center text-info">Sign In </h2>
                </div>
            <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input type="text" class="form-control" formControlName="username" id="username">
                <div [hidden]="username?.untouched">
                    <small *ngIf="username?.errors?.['required']" class="text-danger">username?Is Required</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password">
                <div [hidden]="password?.untouched">
                    <small *ngIf="password?.errors?.['required']" class="text-danger">Password Is Required</small>
                </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
            </div>
        </form>
    </div>
</div>