


<table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle">
        <td><img [src]="data?.image" class="img-fluid" alt="..."></td>
        <td>{{data?.title}}</td>
        <td>{{data?.category}}</td>
        <td>{{data?.description}}</td>
      </tr>
    </tbody>
  </table>

